.Timeline-line {
    z-index: -1;
    position: absolute;
    width: 3px;
    left: 0;
    right: 0;
    margin: auto;
    top: 42.5em;
}

button {
    font: inherit;
    font-size: 1.25rem;
    padding: 0.55em;
    font-weight: 500;
    background-color: #7A82AB;
    border-radius: 6px;
    color: #FFF;
    border: 0;
}