

.topBar {
    height: 69px;
    background: transparent;
    transition: 0.7s;
}

.topBar.sticky {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #242038;
}

.topBar .nav-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

.topBar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 69px;

    margin-left: 1%;

    transition: 0.7s;

    background: transparent;
    color: #fff;

    font-size: 30px;
}

.topBar .logo .title {
    margin-left: 5px;
    color: #242038;
    font-size: 20px;
}

.topBar.sticky .logo .title {
    margin-left: 5px;
    color: #FBF9FF;
    font-size: 20px;
}

nav.sticky .links a, nav.sticky .links Button, nav.sticky .links p{
    color: #FBF9FF;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links .link-item {
    color: #242038;
    font-size: 17px;
    margin: 15px;
    cursor: pointer;
}

.banner {
    height: 300vh;
    background: #555;
}

#userEmail {
    color: grey;
    margin: 0;
    padding-bottom: 19%;
}

.names-user{
    padding: 3px;
}

.names-user p:nth-child(1), p:nth-child(2){
    margin: 0;
}

log-out {

}