.containerFirstPart {
    display: flex;
    flex-direction: row;
    column-gap: 8%;
}

.containerRentalInfo {
    display: flex;
    flex-direction: column;
    width: 33.5%;
    padding: 6% 0 0 15%;
    row-gap: 3%;
}

.containerHousesList {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

.containerSecondPart {
    margin-top: 8%;
}