.grid-inventory{
    justify-content: center;
    align-items: center;
}

.division-card{
    width: 100px;
    height: 100px;
}

.division-image{
    position: relative;
    top: 20%;
    left: 20%;
}
