
.calendar-component-container {
    width: 100%;
    height: 100%;

    padding: 10px;

    border-radius: 5px;

    background-color: #4B4E6D;
}

.calendar-component-container .calendar-component-table {
    width: 100%;
    height: 100%;
}