.containerFirstPart {
    flex-direction: row;
    column-gap: 8%;
}

.containerHousesList {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    align-items: center;
}

.containerEventsList {
    margin-top: 8%;
}